<% include ../partials/header_error %>

<link rel="stylesheet" type="text/css" href="/stylesheets/error.css">

<div class="container hoved">
  <div class="container innhold">
    <h1>ERROR CODE 1337</h1>
    <p>eyyyy man im so sorry, dis site no exist. Please go back and carry on well</p>
  </div>
</div>
		
<% include ../partials/footer %>