<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/artister.css">

<div class="container hoved">
  <div class="container innhold">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto artist">
        <a href="/artister/hajk"><img src="/images/artist/artist-tb-hajk.jpg"></a>
        <span>Hajk</span>
      </div>        
      <div class="col-12 col-md-6 mx-auto artist">
        <a href="/artister/frances-wave"><img src="/images/artist/artist-tb-frances_wave.jpg"></a>
        <span>Frances Wave</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-auto rad2">
        <div class="row">
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="#"><img src="/images/artist/artist-tb-holder.png"></a>
            <span>TBA</span>
          </div> 
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/the-sideways"><img src="/images/artist/artist-tb-the_sideways.png"></a>
            <span>The Sideways</span>
          </div>        
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/oppkast-ala-kart"><img src="/images/artist/artist-tb-oppkast.jpg"></a>
            <span>Oppkast ala kart</span>
          </div>
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/frede-gabriel"><img src="/images/artist/artist-tb-frede_gabriel.jpg"></a>
            <span>FREDE GABRIEL</span>
          </div>
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/sor-for-sahara"><img src="/images/artist/artist-tb-sør_for_sahara.jpg"></a>
            <span>Sør for Sahara</span>
          </div>
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/hearo"><img src="/images/artist/artist-tb-hearo.png"></a>
            <span>HEARO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>