<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/artister.css">

<div class="container hoved">
  <div class="container innhold">
    <img class="img-fluid" src="/images/program/program.png" id="program">
    <div class="container">
      <h3><b>Aktiviteter</b></h3>
      <b>TUSENMILSROSE (dagsprogram)</b>
      <p>Henrik og Ada designer og bygger egne møbler i stål og tre. Under festivalen setter de opp et lite verksted i hagen vår!</p>
      <b>MIKROGARTNERIET TRONDHEIM (dagsprogram)</b>
      <p>De ferskeste ingrediensene dyrker du selv! Finn ut hvordan du kan lage ditt eget mikrogartneri – med eller uten egen hage.</p>
      <b>BASSE (dagsprogram)</b>
      <p>Visste du at Trøndelag har en helt egen sport? Basse er en lavterskel lek der du ikke trenger å være god for å hevde deg. Bli med!</p>
      <b>PRISLØS (dagsprogram)</b>
      <p>Prisløs arrangerer klesmarked med vintage og redesignede klær. Finn ditt nye favorittplagg eller ta med ditt gamle favorittplagg, så får du hjelp til å reparere det – helt gratis!</p>
      <b>LEKEBILVERKSTED (dagsprogram)</b>
      <p>Lekebiler er gøy, og hos oss får barna bygge sin helt egen! Sammen med håndverkslærer Torje og ingeniør Ingvild kan kan du i Hagen bygge og teste bilen på en 7-meter (!) lang bilbane, også kan du få med bilen med deg hjem etterpå!</p>
      <img class="img-fluid" src="/images/program/lekebil.jpg">
      <b>RADIO REVOLT (dagsprogram)</b>
      <p>Studentradioen lager pop-up radiostasjon og sender live fra Bakkefestivalen. Gjør deg klar for herlig lounge-stemning, musikk og intervjuer!</p>
      <b>HOMETROTTER (dagsprogram)</b>
      <p>Hva om du kunne være turist og oppleve all verdens kulturer i ditt eget nabolag? Med den norske appen Hometrotter blir dette mulig, og på Bakkefestivalen serverer de smakebiter fra hele tre verdenshjørner.</p>
      <b>ALL GOOD CLEAN RECORDS</b>
      <p>Den lokale platesjappa på Møllenberg tar turen til Hagen for å selge vinyl! Kom, hils på, sjekk ut og ta med ei god plate hjem!</p>
      <img class="img-fluid" src="/images/program/allgoodcleanrecords.jpg">
      <b>MØLLENBERG OG ROSENBORG VELFORENING</b>
      <p>Den nyoppstartede velforeningen holder åpningsappell om sin visjon for Møllenberg! Sammen åpner vi festivalen ved å plante en blomst i Hagen!</p>
      <b>TRANSIT</b>
      <p>Slapp av med stil i møbler fra Transit, en brukthandel og miljøstasjon som reparerer gamle ting. Hvis du i tillegg finner ditt drømmemøbel kan du kjøpe det på festivalen!</p>
      <b>SOSIOLOGISK POLIKLINIKK</b>
      <p>Festivaler har blitt viktige for formidling av levende populærmusikk idet de trekker horder av publikum hver eneste sommer. Sosiologisk poliklinikk har tidligere vært på Pstereo og Ladehammerfestivalen, og nå kommer de til Bakken for å forstå denne populariteten og forske på festivalfølelsen.</p>
    </div>
    <div class="container">
      <h3><b>Mat og drikke</b></h3>
      <img class="img-fluid" src="/images/program/mat.jpg">
      <b>BROR</b>
      <p>Velkjente Bror Bar og Burger kommer med grill og burgere til Bakken. Med seg har de også en helt ny, spesialdesignet burger - kun for Bakkefestivalen!</p>
      <b>ALI BABA FALAFEL</b>
      <p>Fresh og helt ny foodtruck med veganske falafelruller. Hele prosjektet foregår i samarbeid med syriske flyktninger!</p>
      <b>INDIAN TANDOORI</b>
      <p>Indisk vegansk, vegetarisk og kyllingretter på sitt beste! Ferskt nanbrød laget på ekte indisk vis!</p>
      <b>KIOSK MED HEIM FESTIVAL + JACOBSEN OG SVART</b>
      <p>Snacks, kaffe og drikke! Her kan du bli kjent med den nye HEIM Festivalen, kjøpe vidunderlig kaffe fra Jacobsen&Svart, brus fra Det Norske Mikrobruseri og Ølsprøtt fra Melhus bakeri.</p>
      <b>AUSTMANN & MONKEY BREW (kveldsprogram)</b>
      <p>De trønderske bryggeriene Austmann og Monkey Brew kommer til Bakken! Det blir også et gjensyn med Skalk, som i år er laget med rester av fastelavensboller!</p>
    </div>
    <div class="container">
      <h3><b>Speakers (Hagen)</b></h3>
      <img class="img-fluid" src="/images/program/hagen.jpg">
      <b>NATUR OG UNGDOM @ 12:30</b>
      <p>Klimasaken er stor og komplisert, men heldigvis finnes det enkle grep man kan ta helt selv. Natur og Ungdom kommer for å dele de beste tipsene!</p>
      <b>TOBIAS BRENNVIK, FOLKEKJØKKENET @ 12:45</b>
      <p>I Norge kastes det 350 000 tonn med frisk mat hvert år. Hva om noen tok denne maten og lagde gratis middag?</p>
      <b>OLA RAVN HASSEL OG LINE FJØRSTAD, VILL VED @ 13:30</b>
      <p>Boligmarkedet er dyrt, så Ola og Line har valgt å gjøre ting på sin egen måte. De har tegnet og bygget sitt eget økologiske minihus!</p>
      <b>VEGAR OTTESEN, NTNU @ 13:45</b>
      <p>Hvordan løser vi plastforsøplinga? Vegar ved NTNU jobber med å forske fram et miljøvennlig stoff som kan erstatte plast!</p>
      <b>LURETIMEN, OSKAR LURE @ 14:30</b>
      <p>Oskar Lure synes det er viktig å lure på både små og store ting, og i Luretimen skal vi sammen ta store spørsmål ned til bakkenivå. Hvordan kan vi gjøre verden til en bedre plass å leve? </p>
    </div>
    <div class="container">
      <h3><b>Aktivitetsprogram</b></h3>
      <img class="img-fluid" src="/images/program/lek.jpg">
      <p>10:00-12:00 - Basse<br>
         11:00 - Åpningsappell ved Møllenberg & Rosenborg Velforening<br>
         12:30 - Natur og Ungdom<br>
         12:45 - Tobias, Folkekjøkkenet<br>
         13:30 - Ola og Line, Vill Ved<br>
         13:45 - Vegar, NTNU<br>
         14:30 - Luretimen<br>
      </p>
    </div>
    <div class="container">
      <h3><b>Konserter</b></h3>
      <p>12:00-12:30 - FREDE GABRIEL<br>
         13:00-13:30 - HEARO<br>
         14:00-14:30 - Sør for Sahara<br>
         <br>
         16:30-17:15 - The Sideways<br>
         17:45-18:30 - Oppkast ala Kart<br>
         19:00-19:45 - Resirkulert<br>
         20:15-21:15 - Hajk<br>
         21:45-22:45 - Frances Wave<br>
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto artist">
        <a href="/artister/hajk"><img src="/images/artist/artist-tb-hajk.jpg"></a>
        <span>Hajk</span>
      </div>        
      <div class="col-12 col-md-6 mx-auto artist">
        <a href="/artister/frances-wave"><img src="/images/artist/artist-tb-frances_wave.jpg"></a>
        <span>Frances Wave</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-auto rad2">
        <div class="row">
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/resirkulert"><img src="/images/artist/artist-tb-resirkulert.png"></a>
            <span>Resirkulert</span>
          </div> 
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/the-sideways"><img src="/images/artist/artist-tb-the_sideways.png"></a>
            <span>The Sideways</span>
          </div>        
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/oppkast-ala-kart"><img src="/images/artist/artist-tb-oppkast.jpg"></a>
            <span>Oppkast ala kart</span>
          </div>
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/frede-gabriel"><img src="/images/artist/artist-tb-frede_gabriel.jpg"></a>
            <span>FREDE GABRIEL</span>
          </div>
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/sor-for-sahara"><img src="/images/artist/artist-tb-sør_for_sahara.jpg"></a>
            <span>Sør for Sahara</span>
          </div>
          <div class="col-6 col-md-4 mx-auto artist">
            <a href="/artister/hearo"><img src="/images/artist/artist-tb-hearo.png"></a>
            <span>HEARO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>