<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/frivillig.css">

<div class="container hoved">
  <div class="container innhold">
    <div class="container headerContainer">
      <div class="row">
        <div class="col-12 mx-auto headerBilde" id="headerBilde">
          <a target="_blank" href="https://form.arkon.no/?id=3871&key=Kbpll3"><img src="/images/frivillig_header_opt.jpg"></a>
          <span>Jobb frivillig på Bakkefestivalen 2018! &#x1F601</span>
        </div>
        <p class="col-md-10 text-center mx-auto">Foto: Christina Undrum Andersen</p>
        <br>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <p>Når man skal arrangere festival så er det utrolig mye som må gjøres for at dagen skal bli perfekt. Vil du være med på å gjøre denne dagen best mulig?</p>
          <a id="linky" target="_blank" href="https://form.arkon.no/?id=3871&key=Kbpll3">Meld deg som frivillig her</a>
          <br><br>
          <p>Ved å være frivillig blir du en del av den fantastiske gjengen om arrangerer festival. Du får et eget festivalpass, stilig frivillig t-skjorte og være med på heidundrandes frivilligfest! I tillegg så ser ikke frivillig arbeid så verst ut på CV’en heller. Men hva kan jeg jobbe 
          med?</p>
          <p>
            <strong>BAR</strong>
              <br>
              Når du står i baren har du som ansvar å selge, tappe og servere ulike drikker vi serverer under festivalen. Dette innebærer blant 
              annet øl og vin, så du må ha fylt 18 år. For deg som liker salg, og er komfortabel med litt tempo i arbeidet.
          </p>
          <p>
            <strong>BILLETT</strong>
            <br>
            Når du jobber med salg og scanning av billetter, blir du gjestenes første møte med Bakkefestivalen. Her gjelder det å være blid og 
            imøtekommende.
          </p>
          <p>
            <strong>DEKOR</strong>
            <br>
            De som jobber med dekor har ansvaret for utsmykning av festivalområdet. Dette vil være kreativ utfoldelse i form av håndverk, maling, bygging o.l. Her er det en fordel å være litt handy, men ikke en forutsetning.
          </p>
          <p>
            <strong>NATTEVAKT</strong>
            <br>
            Som nattevakt skal du, sammen med profesjonelle vakter, passe på festivalområdet natt til festivaldag. Festivalområdet rigges opp fredag 4. mai og vi må derfor ha noen til å holde utkikk for lurendreiere på området natt til festivalen.  </p>
          <p>
            <strong>NEDRIGG</strong>
            <br>
            Dette innebærer å være med å rigge ned festivalområdet etter festlighetene har gått sin gang. Her inngår det nedrigg av dekor samt scene- og arrangementteknisk rigg/utstyr like etter festivalområdet stenger. For deg som er aktiv og ikke bryr seg om en flekk på buksa! Det er muligens behov for nedrigg/opprydning søndagsformiddag.
          </p>
          <p>
            <strong>OPPRIGG</strong>
            <br>
            For at vi skal ha festival må vi ha alt av scene- og arrangementteknisk utstyr klart i forkant av festival. Det trenger vi hjelp av deg til. Her er det nyttig med litt erfaring fra denne typen arbeid, men ikke her en forutsetning. Også for deg som er aktiv og ikke bryr seg om en flekk på buksa.
          </p>
          <p>
            <strong>SANITET</strong>
            <br>
            Dette innebærer å være assistenter for en sanitetsleder fra sikkerhetsselskapet PCM under festivalen. Denne jobben krever at man enten studerer, har studert eller jobber innen medisin, syke- eller vernepleie.
          </p>
          <p>
            <strong>SOLSKINN</strong>
            <br>
            Solskinnsgjengen er veldig viktige for at personell, frivillige og alle på området har det bra. Forpleining, catering og spredning av godt humør er viktigste ansvarsområder! Her kan man jobbe både før, under og etter festivalen.
          </p>
          <p>
            <strong>TRANSPORT</strong>
            <br>
            Vi trenger sjåfører med førerkort klasse B som kan være med å hente artister, gjester, catering og diverse utstyr som trengs. Din hjelp trengs både før, under og etter festivalen.
          </p>
          <p>
            <strong>VERTSKAP</strong>
            <br>
            Det er viktig med vakthold under festivaldagen ved inn/utgang, samt nødutganger. Her har du ansvar for, sammen med sikkerhetsselskap, å sørge for sikkerheten til samtlige på festivalområdet og å veilede folkemengden under en eventuell beredskap og/eller evakuering.
            <br><br>
            De som jobber under festivalen jobber én vakt, mens de som jobber i forkant eller etter, skal sannsynligvis jobbe 2 vakter. Meld deg på for å være med å arrangere Trondheims koseligste festival!
          </p>
        </div>
      </div>
    </div>
    
    <div class="container footerContainer">
      <div class="row">
        <p class="col-md-10 text-center mx-auto">Foto: Benedicte Tangen</p>
        <div class="col-12 mx-auto headerBilde" id="footerBilde">
          <a target="_blank" href="https://form.arkon.no/?id=3871&key=Kbpll3"><img src="/images/frivillig_footer_opt.jpg"></a>
          <span>Jobb frivillig på Bakkefestivalen 2018! &#x1F601</span>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>