<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/info.css">

<div class="container hoved">
  <div class="container innhold">
    <div class="container bildeKarusell">
      <div class="row">
        <div class="col-12 main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "wrapAround": true }'>
          <div class="carousel-cell">
            <img src="/images/carousel/01.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/02.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/04.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/05.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/06.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>        
          <div class="carousel-cell">
            <img src="/images/carousel/07.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/08.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/09.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>        
          <div class="carousel-cell">
            <img src="/images/carousel/10.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/11.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/12.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>        
          <div class="carousel-cell">
            <img src="/images/carousel/13.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/14.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/15.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>        
          <div class="carousel-cell">
            <img src="/images/carousel/16.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/17.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/18.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>        
          <div class="carousel-cell">
            <img src="/images/carousel/19.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/20.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/21.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>        
          <div class="carousel-cell">
            <img src="/images/carousel/22.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/23.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/24.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>        
          <div class="carousel-cell">
            <img src="/images/carousel/25.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/26.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/27.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>        
          <div class="carousel-cell">
            <img src="/images/carousel/28.jpg" class="mx-auto d-block img-fluid" alt="First slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/29.jpg" class="mx-auto d-block img-fluid" alt="Second slide">
          </div>
          <div class="carousel-cell">
            <img src="/images/carousel/30.jpg" class="mx-auto d-block img-fluid" alt="Third slide">
          </div>
          
        </div>
      </div>
      <p>Foto: Benedicte Tangen, Christina Undrum Andersen, Ida Marie Røragen, John Arvid Johnsen, Thor Egil Leirtrø & Torleif Kvinnesland</p>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <p>Bakkefestivalen er en musikk- og miljøfestival på Møllenberg i Trondheim! Vårt formål er å skape en årlig kulturfestival som skal bidra til økt kunnskap om bærekraftighet og miljøvern gjennom positive opplevelser. Festivalen tar plass på Møllenberg, og skal være med å gjenopplive bydelens sterkt savna kulturtilbud. Slik er vi med på å samle bydelen enda mer, både store og små, fastboende og leietakere.</p>
          <p>Vi skal tilby kortreiste og bærekraftige mat- og drikkevarer fra lokale aktører, og være med å styrke den trønderske musikkscenen ved å sette fokus på unge og lovende artister med tilhørighet i Trøndelag. Gjennom miljøprogrammet håper vi å kunne informere om hvordan man gjennom enkle grep kan bidra til et bedre miljø og en mer bærekraftig hverdag.</p>
          <p>Historiens første utgave ble arrangert lørdag 6. mai i 2017. Vi ble utsolgt dagen før festivalen, og det kom hele 2200 på besøk gjennom hele dagen. Lokale artister som Arne Åsmund og Bosak & Quattro, samt Rolig Razzia fra Trøndertun folkehøgskole spilte under dagsprogrammet. Kveldsprogrammet kunne by på artister som Temporary, Wingsuits, DRØM og Rohey, før The Fjords avsluttet kvelden. </p>
          <p>
            <strong>ÅPNINGSTIDER/ALDERSGRENSE</strong>
            <br>
            Lørdag 5. mai
            <br>
            Dagsprogram 10:00 - 15:00 (åpent for alle, gratis)
            <br>
            Kveldsprogram 16:00 - 22:45 (18-års grense, festivalpass)
            <br>
            Området er stengt mellom 15 og 16.
          </p>
          <p>
            <strong>BILLETTER</strong>
            <br>
            Dagsprogrammet er gratis og åpent for alle. For kveldsprogrammet selges det festivalpass til 449,- (inkl. avg) ved forhåndskjøp på nett. 
            <a target="_blank" href="https://bakkefestivalen.hoopla.no/sales/3248098352" id="billettLinky"><h3>Billetter kjøpes her!</h3></a>
            NB! Husk å være ute i god tid, da vi ble utsolgt allerede før festivalen begynte i fjor.
            <br><br>
            Dersom det fortsatt er billetter tilgjengelig på festivaldagen, vil de kunne kjøpes ved inngangen til 499,-. For å komme inn på festivalområdet på kveldstid må du ha et festivalarmbånd. Dette får du i billettboden ved inngangen til festivalområdet ved å vise gyldig billett. Da kan du entre og forlate festivalen som du vil.
          </p>
          <p>
            <strong>PROGRAM</strong>
            <br>
            Hele programmet kommer ut i løpet av april, men artister slippes fortløpende.
          </p>
          <p>
            <strong>ETTERFEST</strong>
            <br>
            Som i fjor, blir det arrangert etterfest i sentrum etter endt festival. Mer informasjon kommer!
          </p>        
          <p>
            <strong>NABOVARSEL</strong>
            <br>
            Nabovarsel går ut til bydel/direkte naboer i løpet av påskeferien, men kan også <a href="http://www.bakkefestivalen.no/wp-content/uploads/2018/03/nabovarsel.pdf" id="nabovarsel">lastes ned her!</a>
          </p>
          <p>
            <strong>BELIGGENHET</strong>
            <br>
            <img src="/images/kart.png" class="kart">
          </p>
          <p>
            <strong>INFO FOR FUNKSJONSHEMMEDE</strong>
            <br>
            Vi aksepterer ledsagerbevis. Den som blir ledsaget kjøper vanlig pass, ledsager får festivalpass ved fremvisning av ledsagerbevis i billettbua ved inngangen. Området er rullestolvennlig. Det er også handikapptoaletter på området.
          </p>
          <p>
            <strong>MAT/DRIKKE</strong>
            <br>
            Av sikkerhetshensyn er det er ikke lov til å ha med egen mat og drikke. Det vil derimot være salg av mat og drikke inne på området. Her har vi med oss ulike aktører fra Trondheim og omegn som har et stort fokus på miljø og bærekraftighet. Noe for alle og enhver!
          </p>
          <p>
            <strong>AVFALL</strong>
            <br>
            Vi ber alle festivaldeltakere om å ta hensyn til miljø (og nabolaget), ved å bruke avfallsdunker flittig! Disse er segmentert i forskjellige type avfall. En av våre samarbeidspartnere er Retura TRV, som bidrar til at vi får en mest mulig bærekraftig avfallshåndtering.
          </p>
          <p>
            <strong>INFORMASJON OM OMKJØRING/OMSKILTING</strong>
            <br>
            Fra og med fredag morgen vil Bakkegata være stengt for trafikk. Det vil bli omkjøring om Nonnegata / Nordre Berggate med tydelig skilting. All trafikk i Nedre Møllenberg gate og Kirkegata foregår som normalt. 
          </p>
          <p>
            <strong>SIKKERHET</strong>
            <br>
            Sikkerhetsvakter fra PCM med egne sanitetsfolk er tilstede under hele arrangementet. Vesker og ryggsekker vil bli undersøkt ved inngangen. Ørepropper fås gratis på festivalområdet, men hørselsvern for barn må medbringes selv.
            <br>Kan ikke medbringes inn på festivalområdet: 
            <br><br>
            – Dyr (kun ulovlig på kveldsprogram)
            <br>
            – Paraply
            <br>
            – Speilreflekskamera og videokamera (gjelder også GoPro)
            <br>
            – Selfiestick
            <br>
            – Medbrakt mat/drikke (tomme vannflasker på dagtid er greit - vannfyllestasjon i Bakken v/ Sildr)
            <br>
            – Brannfarlige materialer
            <br>
            – Våpen eller andre gjenstander som kan skade deg selv eller andre
          </p>
          <p>
            <strong>FRIVILLIG/AKKREDITERING</strong>
            <br>
            Mer informasjon kommer om frivilligregistrering. Akkrediterte kan avhente bånd i akkreditering/billettbua ved inngangen.
          </p>
          <p>
            <strong>PRESSEAKKREDITERING</strong>
            <br>
            Send mail til trym@bakkefestivalen.no for å søke om akkreditering eller om du har noen spørsmål vedrørende dette.
          </p>
          <p>
            <strong>PARKERING</strong>
            <br>
            Ingen parkeringsplasser ved festivalområdet, men Bakklandet P-hus (døgnåpent) er like ved.
          </p>
          <p>
            <strong>TRANSPORT</strong>
            <br>
            Festivalområdet er sentralt på Møllenberg og nås enklest til fots. Det er bysykkelstativ i Kirkegata et kvartal unna inngangen, og et ved Bakke Bro/Bakklandet P-Hus. Nærmeste busstopp er Bakkegata eller Festningsgata hvis du kommer fra Festningen.
          </p>
          <p>
            <strong>BETALING</strong>
            <br>
            Vi tar både kort og kontant.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>