  <div class="container-fluid sponsors">
    <div class="row d-flex" id="partners">
      <div class="col-12 col-sm-4 col-md-2 m-auto px-0">
        <a href="http://www.retura.no/" target="_blank"><img src="/images/logo/logo-returatrv.png" class="img-fluid d-block mx-auto" id="retura"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-2 m-auto px-0">
        <a href="http://www.trondheim.kommune.no/" target="_blank"><img src="/images/logo/logo-trheim_kommune.png" class="img-fluid d-block mx-auto" id="trheim_kommune"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-2 m-auto px-0">
        <a href="http://www.witro.no/" target="_blank"><img src="/images/logo/logo-witro_bil.png" class="img-fluid d-block mx-auto" id="witro"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-2 m-auto px-0">
        <a href="http://pcm-as.no/" target="_blank"><img src="/images/logo/logo-pcm.png" class="img-fluid d-block mx-auto" id="pcm"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-2 m-auto px-0">
        <a href="http://www.trondheimlyd.no/" target="_blank"><img src="/images/logo/logo-trheim_lyd.png" class="img-fluid d-block mx-auto" id="trheim_lyd"></a>
      </div>
    </div>
    <div class="row d-flex" id="sponsors">
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="http://blindfilm.no/" target="_blank"><img src="/images/logo/logo-blindfilm.png" class="mx-auto d-block" id="blindfilm"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="https://www.blomsterringen.no/" target="_blank"><img src="/images/logo/logo-blomsterringen.png" class="mx-auto d-block" id="blomsterringen"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="http://brorbar.no/" target="_blank"><img src="/images/logo/logo-bror.png" class="mx-auto d-block" id=""></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="http://www.dbcontrol.no/" target="_blank"><img src="/images/logo/logo-dbcontrolplus.jpeg" class="mx-auto d-block" id="dbcontrol"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="https://www.diskoteket.no/" target="_blank"><img src="/images/logo/logo-diskoteket.png" class="mx-auto d-block" id="diskoteket"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="http://www.europark.no/" target="_blank"><img src="/images/logo/logo-europark.png" class="mx-auto d-block" id="europark"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="https://www.frifond.no/" target="_blank"><img src="/images/logo/logo-fri_fond.png" class="mx-auto d-block" id="fri_fond"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto" id="nka-container">
        <a href="https://www.konsertarrangor.no/" target="_blank"><img src="/images/logo/logo-nka.png" class="mx-auto d-block" id="nka"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="https://www.scandichotels.no/" target="_blank"><img src="/images/logo/logo-scandic.png" class="mx-auto d-block" id="scandic"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-1 m-auto">
        <a href="http://skipnes-gruppen.no/kommunikasjon/" target="_blank"><img src="/images/logo/logo-skipnes.png" class="mx-auto d-block" id=""></a>
      </div>
    </div>
  </div>
      
  <div id="footer-bottom">
      <div class="container text-center social">
          <a target="_blank" href="https://www.facebook.com/bakkefestivalen"><i class="fab fa-lg fa-facebook-f"></i></a>
          <a target="_blank" href="https://www.youtube.com/channel/UC8f6T599OYzFufguqiQuC5A"><i class="fab fa-lg fa-youtube-square"></i></a>
          <a target="_blank" href="https://www.instagram.com/bakkefestivalen"><i class="fab fa-lg fa-instagram"></i></a>
          <a target="_blank" href="https://spoti.fi/2v4RN6t"><i class="fab fa-lg fa-spotify"></i></a>
      </div>
  </div>
    
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="/js/main.js"></script>
  </body>
</html>