  <div class="container-fluid sponsors">
    <div class="row h-100 my-auto">
      <div class="col-12 col-sm-4 col-md-2 my-auto mx-auto px-0">
        <a href="http://www.retura.no" target="_blank"><img src="/images/logo/logo-returatrv.png" class="mx-auto d-block" id="retura"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-2 my-auto mx-auto px-0">
        <a href="http://www.trondheim.kommune.no" target="_blank"><img src="/images/logo/logo-trheim_kommune.png" class="mx-auto d-block" id="trheim_kommune"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-2 my-auto mx-auto px-0">
        <a href="http://www.witro.no" target="_blank"><img src="/images/logo/logo-witro_bil.png" class="mx-auto d-block" id="witro"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-2 my-auto mx-auto px-0">
        <a href="http://www.dbcontrol.no" target="_blank"><img src="/images/logo/logo-dbcontrolplus.jpeg" class="mx-auto d-block" id="dbcontrol"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-2 my-auto mx-auto px-0">
        <a href="http://www.trondheimlyd.no" target="_blank"><img src="/images/logo/logo-trheim_lyd.png" class="mx-auto d-block" id="trheim_lyd"></a>
      </div>
    </div>
  </div>
      
  <div id="footer-bottom">
      <div class="container text-center social">
          <a target="_blank" href="https://www.facebook.com/bakkefestivalen"><i class="fab fa-lg fa-facebook-f"></i></a>
          <a target="_blank" href="https://www.youtube.com/channel/UC8f6T599OYzFufguqiQuC5A"><i class="fab fa-lg fa-youtube-square"></i></a>
          <a target="_blank" href="https://www.instagram.com/bakkefestivalen"><i class="fab fa-lg fa-instagram"></i></a>
          <a target="_blank" href="https://spoti.fi/2v4RN6t"><i class="fab fa-lg fa-spotify"></i></a>
      </div>
  </div>
    
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="/js/main.js"></script>
  </body>
</html>