/* ARTISTS */

.rad2 {
	margin-top: 15px;
}

.innhold > .row:first-child > .artist:first-child {
	margin-bottom: 15px;
}

.rad2 > .row > .artist:nth-child(3), .rad2 > .row > .artist:nth-child(4) {
	margin-bottom: 15px;
	margin-top: 15px;
}

.rad2 > .row > .artist:first-child, .rad2 > .row > .artist:nth-child(3), .rad2 > .row > .artist:nth-child(5) {
	padding-left: 15px;
	padding-right: 7.5px;
}

.rad2 > .row > .artist:nth-child(2), .rad2 > .row > .artist:nth-child(4), .rad2 > .row > .artist:nth-child(6) {
	padding-left: 7.5px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.rad2 {
		margin-top: 30px;
		margin-bottom: 0px;
	}
	.rad2 .artist, .rad2 > .row > .artist:nth-child(n-3) {
		margin-bottom: 30px;
		margin-top: 0;
	}
	
	.rad2 .artist, .rad2 > .row > .artist:nth-last-child(-n+3) {
		margin: 0;
	}
	.innhold > .row:first-child > .artist:first-child {
		margin-bottom: 0px;
	}
	/*.rad2 > .row > .artist:nth-child(3), .rad2 > .row > .artist:nth-child(4) {*/
	/*	margin-bottom: 0;*/
	/*	margin-top: 0;*/
	/*}	*/
	.rad2 > .row > .artist:first-child, .rad2 > .row > .artist:nth-child(3), .rad2 > .row > .artist:nth-child(5) {
		padding-right: 15px;
	}
	
	.rad2 > .row > .artist:nth-child(2), .rad2 > .row > .artist:nth-child(4), .rad2 > .row > .artist:nth-child(6) {
		padding-left: 15px;
	}

}

/* blur + gray scale + text appear */

.artist span {
	position: absolute;
	top: 0%;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	color: #e6b23a;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0) scale(1.0, 1.0);
	opacity: 0;
	pointer-events: none;
	-webkit-text-stroke: 0.4px #000; 
}

a:hover+span {
  -webkit-transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
  transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	top: 50%;
	opacity: 1;
}

.artist a {
  -webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0) scale(1.0, 1.0);
	cursor: pointer;
}

.artist a img {
  width: 100%;
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
}

.artist a:hover {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

/* Program */

.container > img {
	margin-bottom: 1rem;
}
